<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--数据库类型(MsSql,MySql)-->
    <!--<add key="DBType" value="MsSql" />-->
    <add key="DBType" value="MySql" />
    <!--缓存类型(Local,Redis)-->
    <add key="CacheStrategyType" value="Redis" />
  </appSettings>

  <connectionStrings>
    <!--<add name="WriteConnection" connectionString="data source=10.10.10.49;database=OfficialCash;uid=sa;pwd=ywo3aoeKBLVVhN0LXIV7;" providerName="System.Data.SqlClient" />
    <add name="ReadConnection" connectionString="data source=10.10.10.49;database=OfficialCash;uid=sa;pwd=ywo3aoeKBLVVhN0LXIV7;" providerName="System.Data.SqlClient" />-->
    <add name="WriteConnection" connectionString="Server=10.10.10.28;Port=3306;Database=OfficialCash; User=root_mi;Password=123;Use Procedure Bodies=false;Charset=utf8;Allow Zero Datetime=True; Pooling=True; Max Pool Size=100; " providerName="MySql.Data.MySqlClient" />
    <add name="ReadConnection" connectionString="Server=10.10.10.28;Port=3306;Database=OfficialCash; User=root_mi;Password=123;Use Procedure Bodies=false;Charset=utf8;Allow Zero Datetime=True; Pooling=True; Max Pool Size=100; " providerName="MySql.Data.MySqlClient" />
    <add name="CommonConnection" connectionString="Server=10.10.10.28;Port=3306;Database=OfficialCash; User=root_mi;Password=123;Use Procedure Bodies=false;Charset=utf8;Allow Zero Datetime=True; Pooling=True; Max Pool Size=100; " providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

  <system.serviceModel>
    <client>
      <endpoint binding="netTcpBinding" behaviorConfiguration="TcpClientBehavior" contract="Lx.Service.WcfClient.ILogService" address="net.tcp://127.0.0.1:8000/WcfService/TcpLogService" bindingConfiguration="TcpClientBinding" />
      <endpoint binding="netTcpBinding" behaviorConfiguration="TcpClientBehavior" contract="Lx.Service.WcfClient.IUserService" address="net.tcp://127.0.0.1:8001/WcfService/TcpUserService" bindingConfiguration="TcpClientBinding" />
    </client>

    <bindings>
      <!--绑定设置-->
      <netTcpBinding>
        <binding name="TcpClientBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" openTimeout="00:00:20" closeTimeout="00:00:20" sendTimeout="00:00:20" receiveTimeout="00:00:30" maxConnections="1000" transactionFlow="false">
          <readerQuotas maxStringContentLength="2147483647" maxBytesPerRead="2147483647" />
          <reliableSession enabled="false" />
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="TcpClientBehavior">
          <dataContractSerializer maxItemsInObjectGraph="100000000" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.7.0" newVersion="6.9.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>